/* give the source citatioin from coderwall full-page background */
body, html {
    background: #red; /* fallback color */
    background: linear-gradient( to bottom, #grey, #black);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
}

/* adding the art that chava made for his background */
.hero-image {
  /* use a linear-gradient to add a darken background effect to the logo.*/
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("chava_art/chava87.png");
/* height of the image*/
height: 50%;

/* scale it on all screens like so:*/
background-position: top;
background-repeat: no-repeat;
background-size: 100%;
position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

/* top navigation bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* styilying the top navigation links */
.topnav a {
  float: left;
  display: block;
  color: #da1313;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*changes the color of the links when hovered over */
.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.vertical-menu {
  width: 100px;  /*this changes the width of the bar*/
}
.vertical-menu a {
  background-color: #da2828; /*this is the background of the bar*/
  color: #060606; /*text color*/
  display: block; /*makes links appear below each other*/
  padding: 12px; /* add some padding */
  text-decoration: none; /* removes underline from the links */
}
.vertical-menu a:hover {
  background-color: #ccc; /*when mouse hover over */
}
.vertical-menu a.active {
  background-color: #e41d29; /*adds a color to the link when its hovering on it */
}

/* place the navigation bar at the bottom of the page and make it stick */
.navbar{
  background-color: black;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/*sty;es the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*change color when hovering */

.navbar a:hover {
  background-color: #deeff0;
  color: black;
}

/* adds color to the active/current link */
.navbar a.active {
  background-color: #e83949;
  color: white;
}
/* gallery classes*/

div.gallery {
  border: 1px solid #e81024;
  margin: 5px;
  border: 10px solid grey;
  float: left;
  width: 180px;
  position: relative;
}
div.gallery:hover {
  border: 1px solid #e81024;
}

div.gallery img{
  width: 100%;
  height: 100%;
}

div.desc {
  padding: 15px;
  text-align: center;
  position: relative;
  width: auto;
  height: auto;
}
