/* this will enable the background to be a complete image and also to cover the entire page */
body, html {
  height: 100%;

}
.hr {
  margin: auto;
  width: 40%;
}

.bgimg {
  /* background img*/
  background-image: linear-gradient(rgb(9, 9, 116), rgb(24, 94, 118));
    /* Full-screen */
  height: 100%;
  /* Center the background image */
  background-position: center;
  /* Scale and zoom in the image */
  background-size: cover;
  /* Add position: relative to enable absolutely positioned elements inside the image (place text) */
  position: relative;
  /* Add a white text color to all elements inside the .bgimg container */
  color: white;
  /* Add a font */
  font-family: "Courier New", Courier, monospace;
}

/* Position text in the top-left corner */
.topCenter {
  position: relative;
  text-align: center;
  font-weight: bold;
  margin: 10px;
  padding: 5px

}
.topCenter .heading{
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Child elements of the topcenter div. */

.topCenterButton{
  width: 100px;
  height: 50px;
  background-color: #4F8AC4;
  color: white;
  border-radius: 8px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}
.topCenterButton:hover{
  color: black;
  background-color: #B03B4C;
  font-weight: bold;
}

/* Position The clock and the coming date in the middle */
.middle {
  margin-top: 100px;
  position: absolute;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}
/* Style the Footer for the general page */

