.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

.text {
  background-image: linear-gradient(white, grey);
  color: black;
  margin: 20px;
  padding: 50px;
  font-size: 100%;
  font-family: fantasy;
  font-style: italic;

}

.photos{
  background-color: white;
  
}

.textarea {
  padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}
