<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Truth</title>
gi
<style>
.button {
  background-color: red;
  border: None;
  padding: 15px 30px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.background {
  background-image:linear-gradient(blue, white);
}
.body {
  background-size: 100%;
}
</style>

  </head>
  <body class="background" class="body">

<center>
    <h1>will you be my Valentine? </h1>
      <a href="https://www.youtube.com/watch?v=Qtb11P1FWnc">
        <button type="button" class="button"name="button">Yes</button>
      </a>
</center>
<center>
      <a href="https://www.youtube.com/watch?v=sc4I9MweBy4">
        <button type="button" class="button"name="button" >Maybe</button>
      </a>
</center>
<center>
      <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
        <button type="button" class="button" name="button">Nah fam (too much drama)</button>
      </a>
</center>
</body class="background">
</html>
